* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #170C04;
}

.pets-products {
    background: #D9D9D9;
    padding: 114px 0 11px;
    text-align: center;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.pets-products__main-text {
    padding: 0 317px;
    margin-bottom: 41px;
}

.pets-products__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32.25px;
    line-height: 48px;
    margin-bottom: 18px;
}

.pets-products__subtitle {
    font-size: 16px;
    line-height: 24px;
    opacity: 0.6;
}

.products-items {
    display: flex;
    column-gap: 30px;
    row-gap: 66px;
    flex-wrap: wrap;
    margin-bottom: 46px;
}

.product-item__wrapper-image {
    background: #FCF2EB;
    border-radius: 20px;
    padding: 41px 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.product-item__main {
    flex-grow: 1;
}

.product-item__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    margin-bottom: 9px;
}

.product-item__details-button {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #E27B3A;
}

.pet-products__button {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    color: #E27B3A;
    padding: 12px 30px;
    border: 1px solid rgba(226, 123, 58, 0.15);
    border-radius: 4px;
    text-decoration: none;
}