* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.advantages {
    background: #F5F5F5;
    padding: 252px 0 194px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.advantages__content {
    display: flex;
    justify-content: space-between;
}

.advantages__content_item {
    margin-right: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.advantages__content_item:last-child {
    margin-right: 0;
}

.advantages__wrapper_images {
    max-width: 366px;
}

.advantage__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.advantages__text {
    background: #FFFFFF;
    border-radius: 25px;
    padding: 13px 13px 7px 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #757575;
    max-width: 326px;
    margin: -46px auto 0;
}